.title{
    text-align: center;
}
.subtitle{
    font-size: 15px;
    font-family: Arial;
    text-align: center;
    margin-bottom: 4%;
}

.movieList{
    display: flex;
    flex-direction: column;
}


.movie{
    margin-left:37%;
    display: flex;
    justify-content: space-between;
    font-family: Arial;
    background-color: rgba(16, 0, 165, 0.11);
    border-style: solid;
    border-color: rgb(1, 33, 94);
    padding: 1%;
    width: 25%;
    align-items: center;
}

.movie__name{
    font-size: 20px;
}


input[type=radio] {
    
    width: 20px;
    height: 2em;
}

input[type=radio]:checked:after {
        width: 20px;
        height: 1.5em;
        border-radius: 15px;
        top: 1px;
        left: -1px;
        position: relative;
        background-color: #5410d4;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
}

input[type=radio]:hover:after {
    width: 20px;
    height: 1.5em;
    border-radius: 15px;
    top: 1px;
    left: -1px;
    position: relative;
    background-color: rgb(1, 33, 94);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}



.movie__score{
    font-size: 30px;
    color: rgb(27, 90, 209);
    font-weight: 700;
    padding-right: 5%;
}

.clasification{
    font-family: Arial;
    font-size: 14px;
}